body {
    font-family: Arial, sans-serif;
    margin-top: 80px;
    margin-bottom: 0;
    padding: 0;
    background: white;
    color: #333;
    font-size: 22px; /* Increase font size */
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.header {
    padding: 20px;
    text-align: center;
}

nav {
    background-color: rgba(248, 248, 248, 0.9); /* Transparent background */
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: block; /* Show by default */
}

nav .navbar-nav {
    margin-left: auto;
}

nav .navbar-nav .nav-link {
    padding: 10px;
}

nav .navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}

.section {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.section h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
}

.footer p {
    margin: 5px 0;
}

/* Banner */
#banner-large {
    display: block; /* Show banner */
    position: relative;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Adjust the transparency of the banner */
    padding: 10px;
}

#banner-large img {
    width: 100%;
    height: auto;
}

/* Profile Photo Area */
#profile-area {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
}

#profile-area img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50px;
    z-index: 1000; /* Ensure photo stays on top */
}

#certified-badge {
    position: fixed;
    width: 35px;
    height: 25px;
    border-radius: 30%;
    margin-top: 80px;
    margin-left: 88px;
    z-index: 1001; /* Ensure badge stays on top */
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
}
